::deep .mud-expansion-panel-header {
    background-color: #f9f9f9;
    font-weight: 600;
    font-size: 1.05rem;
    color: #2c3e50;
    border-bottom: 1px solid #e0e0e0;
}

    ::deep .mud-expansion-panel-header:hover {
        background-color: #f0f4f8;
    }

::deep .mud-card-content {
    padding: 1rem !important;
}
